body {
    font-family: 'Montserrat'
}

.meal-btn {
  margin: 4em auto;
  width: 85%;
  text-align: center;
  background: rgba(169, 201, 186, 0.33);
  border-radius: 25px;
  padding: 3em 0;
}

.meal-btn-text {
  text-align: center;
  font-size: 3.5em;
}

@keyframes fadeout {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
